.nav-user-name{ margin-right: 10px;}

.drop_show p{ font-weight: bold; font-size: 30px; font-family: "黑体"}
.tel_navbar { min-height: 20px; margin-bottom: 0px; border: 1px solid #ddd; border-radius: 3px; background-color: #ddd;}
.tel_navbar .navbar-toggle{ padding: 0px 15px; }
.tel_navbar .icon-bar{ background-color: #222222;}
/*login*/
.login-from-box {width: 320px; margin:0px auto;}
.login-from-box form{ margin-top: 50px;}
.btn-submit{ min-width: 320px;}
@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}
.menu-group{ border-radius: 3px; border: 1px solid #dddddd; overflow: hidden;}
.menu-title { font-size: 18px; cursor: pointer;
    margin:0px; padding:0px;
    height: 38px;line-height: 38px;
    padding-left: 15px; background-color: #f5f5f5;
}
.collapse-ul{ list-style: none; padding: 0px; margin:0px; display: none}
.collapse-ul.collapse-show{ display: block;}
.collapse-ul li{ border-bottom: 1px dashed #ddd; padding-left: 20px; height: 30px; line-height: 30px;}
.collapse-ul li a{ display: block;}
.collapse-ul li a:hover{ text-decoration: none;}
li.collapse-active{
    background-color: #428BCA;
}
li.collapse-active a{
    color:#fff;
}
/**/
.col-nav-list { position: relative; width:100%; z-index: 1;}
#panel-group-box{ overflow: hidden;}
.btn-scroll-bar { border-radius: 2px; width:10px; height: 100%; background-color:#dddddd; position: absolute; top: 0px; right: -11px; cursor: pointer;}
.btn-scroll-bar:hover{ background-color: #C8C8C8;}
.col-md-absolute { position: absolute; left: 0px; top: 0px;}
.detail-title{ height: 30px; line-height: 30px; background-color: #eee; border-bottom: 1px solid #ddd; box-shadow: 0px 2px 5px #ddd; padding-left: 15px; margin-bottom: 10px;}
.detail-table {
    background-color: #F9F9F9;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.detail-table th,.detail-table td{
    line-height: 30px; padding:0px 10px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
.col-sm-9{
    font-size: 18px;
}
